PORT=4000
SUPABASE_PROJECT_URL=https://hbcfftffedmcpitophpd.supabase.co
SUPABASE_PROJECT_REF=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiY2ZmdGZmZWRtY3BpdG9waHBkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg4MjUxMTksImV4cCI6MjA3NDQwMTExOX0.lmmN8fwXdb-P_kq-gtTESvOA6WvHpBqmcqfrdgxL67Q
SUPABASE_SECRET_KEY=
SUPABASE_DATABASE_URL=